## Importação de Dados e Bibliotecas

In [32]:
# Import the Pandas library
import pandas as pd
import numpy as np
from keras.layers import Dense, Dropout
from keras.models import Sequential
from keras.wrappers.scikit_learn import KerasClassifier
from keras.optimizers import SGD, RMSprop, Adam
from keras.layers import Dense, Activation, Dropout
from sklearn.metrics import accuracy_score
from sklearn.model_selection import StratifiedKFold, cross_val_score
import matplotlib.pylab as plt


# Load the train and test datasets to create two DataFrames
train_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv"
train = pd.read_csv(train_url, index_col = 0)
train["teste"] = 0
test_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/test.csv"
test = pd.read_csv(test_url, index_col = 0)
test["teste"] = 1

## Análise dos Dados Importados

In [33]:
print('\nHeader - Test:')
print(test.head())
print('\n\nHeader - Train:')
print(train.head())


print('\n\nShape - Test:')
print(test.shape)
print('\n\nShape - Train:')
print(train.shape)

print('\n\nDados estatísticos - Test:')
print(test.describe())

print('\n\nDados estatísticos - Train:')
print(train.describe())

Header - Test:
             Pclass                                          Name     Sex  \
PassengerId
892               3                              Kelly, Mr. James    male
893               3              Wilkes, Mrs. James (Ellen Needs)  female
894               2                     Myles, Mr. Thomas Francis    male
895               3                              Wirz, Mr. Albert    male
896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

              Age  SibSp  Parch   Ticket     Fare Cabin Embarked  teste
PassengerId
892          34.5      0      0   330911   7.8292   NaN        Q      1
893          47.0      1      0   363272   7.0000   NaN        S      1
894          62.0      0      0   240276   9.6875   NaN        Q      1
895          27.0      0      0   315154   8.6625   NaN        S      1
896          22.0      1      1  3101298  12.2875   NaN        S      1


Header - Train:
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked  teste
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S      0
2                1      0          PC 17599  71.2833   C85        C      0
3                0      0  STON/O2. 3101282   7.9250   NaN        S      0
4                1      0            113803  53.1000  C123        S      0
5                0      0            373450   8.0500   NaN        S      0


Shape - Test:
(418, 11)


Shape - Train:
(891, 12)


Dados estatísticos - Test:
           Pclass         Age       SibSp       Parch        Fare  teste
count  418.000000  332.000000  418.000000  418.000000  417.000000  418.0
mean     2.265550   30.272590    0.447368    0.392344   35.627188    1.0
std      0.841838   14.181209    0.896760    0.981429   55.907576    0.0
min      1.000000    0.170000    0.000000    0.000000    0.000000    1.0
25%      1.000000   21.000000    0.000000    0.000000    7.895800    1.0
50%      3.000000   27.000000    0.000000    0.000000   14.454200    1.0
75%      3.000000   39.000000    1.000000    0.000000   31.500000    1.0
max      3.000000   76.000000    8.000000    9.000000  512.329200    1.0


Dados estatísticos - Train:
         Survived      Pclass         Age       SibSp       Parch        Fare  \
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

       teste
count  891.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0

Nota-se que temos:

*PassengerId:* valor único para cada passageiro

*Survived:* 0 se morreu, 1 se sobreviveu

*Pclass:* 1, 2, 3 - 1a, 2a e 3a classe

*Name:* nome - único para cada passageiro (possível descobrir tamanho da família e o sexo)
    Formato: Sobrenome, Título Nome
    -- Utilizaremos apenas o Título

*Sex:* female, male

*Age:* int
    -- Dividiremos entre criança, adulto e idoso. Como apresentado na média, desvio padrão e mediana, a maior parte das pessoas são adultas. Então todos aqueles que não tiverem idade informada, consideraremos adultos.

*Sibsp (Siblings Spouse):* quantidade de irmãos e esposa

*Parch (Parent Children):* quantidade de pais e filhos

*Ticket:* único para cada passageiro
    -- Desconsideraremos este dado

*Fare:* quantidade paga pelo ticket (possível determinar a classe - possível que primeira classe tenha sido salva antes da terceira

*Cabin:* algumas são mais próximas à porta
    -- Devido ao grande número de NaN, desconsideraremos este dado

*Embarked:* portão de embarque

## Definição das Funções

In [34]:
def get_title_last_name(name):
    full_name = name['Name'].str.split(', ', n=0, expand=True)
    last_name = full_name[0]
    titles = full_name[1].str.split('.', n=0, expand=True)
    titles = titles[0]
    return(titles)

def normalize(series):
    return (series - series.min()) / (series.max() - series.min())

def build_model():
    m = Sequential([
        Dense(30, activation='relu', input_dim=feature_count),
        Dense(30, activation='relu'),
        Dense(1, activation='sigmoid'),
    ])
    m.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])
    return m

def fix_age(titanic):
    #logica idade:
    # <18 - child (0)
    # >18<50 - adult (1)
    # > 50 - elderly (2)

    # Create the column Age_Cat and assign to '1' (default)
    titanic['Age_Cat'] = 'Adult'
    # Assign 0 to passengers under 18, 2 to those who are 50 or older.
    titanic['Age_Cat'][titanic['Age'] < 18] = 'Child'
    titanic["Age_Cat"][titanic["Age"] >= 50] = 'Elderly'    
    titanic = titanic.drop('Age', axis=1)
    return titanic

def normaliza_num(titanic):
    titanic['Parch'] = normalize(titanic['Parch'])
    titanic['SibSp'] = normalize(titanic['SibSp'])
    titanic['Fare'] = normalize(titanic['Fare'])
    return titanic

def encod_cat(titanic):
    titanic = titanic.join(pd.get_dummies(titanic['Sex'], 'Sex')).drop('Sex', axis=1)
    titanic = titanic.join(pd.get_dummies(titanic['Embarked'], 'Embarked')).drop('Embarked', axis=1)
    titanic = titanic.join(pd.get_dummies(titanic['Age_Cat'], 'Age_Cat')).drop('Age_Cat', axis=1)
    titanic = titanic.join(pd.get_dummies(titanic['Title'], 'Title')).drop('Title', axis=1)
    titanic = titanic.join(pd.get_dummies(titanic['Pclass'], 'Pclass')).drop('Pclass', axis=1)
    return titanic

In [35]:
pd.options.mode.chained_assignment = None  # default='warn'
titanic = pd.concat((train, test), axis=0)
titanic['Title'] = get_title_last_name(titanic)

titanic = fix_age(titanic) # como tem muito NaN, iremos dar um fix
titanic = encod_cat(titanic) # one_hot nos atributos categoricos
titanic = normaliza_num(titanic) # normalizacao nos atributos numericos
titanic = titanic.drop(['Name', 'Cabin', 'Ticket'], axis=1) # descarta Nome: so consideraremos o titulo, cabine: muitos NaN, e Ticket
test_data = titanic[titanic['teste'] == 1]
titanic = titanic.drop(['teste'], axis=1)
print(titanic)

titanic = titanic.as_matrix()

feature_count = titanic.shape[1]

                 Fare     Parch  SibSp  Survived  Sex_female  Sex_male  \
PassengerId
1            0.014151  0.000000  0.125       0.0           0         1
2            0.139136  0.000000  0.125       1.0           1         0
3            0.015469  0.000000  0.000       1.0           1         0
4            0.103644  0.000000  0.125       1.0           1         0
5            0.015713  0.000000  0.000       0.0           0         1
6            0.016510  0.000000  0.000       0.0           0         1
7            0.101229  0.000000  0.000       0.0           0         1
8            0.041136  0.111111  0.375       0.0           0         1
9            0.021731  0.222222  0.000       1.0           1         0
10           0.058694  0.000000  0.125       1.0           1         0
11           0.032596  0.111111  0.125       1.0           1         0
12           0.051822  0.000000  0.000       1.0           1         0
13           0.015713  0.000000  0.000       0.0           0         1
14           0.061045  0.555556  0.125       0.0           0         1
15           0.015330  0.000000  0.000       0.0           1         0
16           0.031230  0.000000  0.000       1.0           1         0
17           0.056848  0.111111  0.500       0.0           0         1
18           0.025374  0.000000  0.000       1.0           0         1
19           0.035134  0.000000  0.125       0.0           1         0
20           0.014102  0.000000  0.000       1.0           1         0
21           0.050749  0.000000  0.000       0.0           0         1
22           0.025374  0.000000  0.000       1.0           0         1
23           0.015672  0.000000  0.000       1.0           1         0
24           0.069291  0.000000  0.000       1.0           0         1
25           0.041136  0.111111  0.375       0.0           1         0
26           0.061264  0.555556  0.125       1.0           1         0
27           0.014102  0.000000  0.000       0.0           0         1
28           0.513342  0.222222  0.375       0.0           0         1
29           0.015379  0.000000  0.000       1.0           1         0
30           0.015412  0.000000  0.000       0.0           0         1
...               ...       ...    ...       ...         ...       ...
1280         0.015127  0.000000  0.000       NaN           0         1
1281         0.041136  0.111111  0.375       NaN           0         1
1282         0.182500  0.000000  0.000       NaN           0         1
1283         0.076904  0.111111  0.000       NaN           1         0
1284         0.039525  0.222222  0.000       NaN           0         1
1285         0.020495  0.000000  0.000       NaN           0         1
1286         0.042990  0.111111  0.375       NaN           0         1
1287         0.117112  0.000000  0.125       NaN           1         0
1288         0.014151  0.000000  0.000       NaN           0         1
1289         0.154588  0.111111  0.125       NaN           1         0
1290         0.015176  0.000000  0.000       NaN           0         1
1291         0.015094  0.000000  0.000       NaN           0         1
1292         0.321798  0.000000  0.000       NaN           1         0
1293         0.040989  0.000000  0.125       NaN           0         1
1294         0.115941  0.111111  0.000       NaN           1         0
1295         0.091933  0.000000  0.000       NaN           0         1
1296         0.054107  0.000000  0.125       NaN           0         1
1297         0.027058  0.000000  0.000       NaN           0         1
1298         0.020495  0.000000  0.125       NaN           0         1
1299         0.412821  0.111111  0.125       NaN           0         1
1300         0.015070  0.000000  0.000       NaN           1         0
1301         0.026887  0.111111  0.125       NaN           1         0
1302         0.015127  0.000000  0.000       NaN           1         0
1303         0.175668  0.000000  0.125       NaN           1         0
1304         0.015176  0.000000  0.000       NaN           1         0
1305         0.015713  0.000000  0.000       NaN           0         1
1306         0.212559  0.000000  0.000       NaN           1         0
1307         0.014151  0.000000  0.000       NaN           0         1
1308         0.015713  0.000000  0.000       NaN           0         1
1309         0.043640  0.111111  0.125       NaN           0         1

             Embarked_C  Embarked_Q  Embarked_S  Age_Cat_Adult    ...     \
PassengerId                                                       ...
1                     0           0           1              1    ...
2                     1           0           0              1    ...
3                     0           0           1              1    ...
4                     0           0           1              1    ...
5                     0           0           1              1    ...
6                     0           1           0              1    ...
7                     0           0           1              0    ...
8                     0           0           1              0    ...
9                     0           0           1              1    ...
10                    1           0           0              0    ...
11                    0           0           1              0    ...
12                    0           0           1              0    ...
13                    0           0           1              1    ...
14                    0           0           1              1    ...
15                    0           0           1              0    ...
16                    0           0           1              0    ...
17                    0           1           0              0    ...
18                    0           0           1              1    ...
19                    0           0           1              1    ...
20                    1           0           0              1    ...
21                    0           0           1              1    ...
22                    0           0           1              1    ...
23                    0           1           0              0    ...
24                    0           0           1              1    ...
25                    0           0           1              0    ...
26                    0           0           1              1    ...
27                    1           0           0              1    ...
28                    0           0           1              1    ...
29                    0           1           0              1    ...
30                    0           0           1              1    ...
...                 ...         ...         ...            ...    ...
1280                  0           1           0              1    ...
1281                  0           0           1              0    ...
1282                  0           0           1              1    ...
1283                  0           0           1              0    ...
1284                  0           0           1              0    ...
1285                  0           0           1              1    ...
1286                  0           0           1              1    ...
1287                  0           0           1              1    ...
1288                  0           1           0              1    ...
1289                  1           0           0              1    ...
1290                  0           0           1              1    ...
1291                  0           1           0              1    ...
1292                  0           0           1              1    ...
1293                  0           0           1              1    ...
1294                  1           0           0              1    ...
1295                  0           0           1              0    ...
1296                  1           0           0              1    ...
1297                  1           0           0              1    ...
1298                  0           0           1              1    ...
1299                  1           0           0              0    ...
1300                  0           1           0              1    ...
1301                  0           0           1              0    ...
1302                  0           1           0              1    ...
1303                  0           1           0              1    ...
1304                  0           0           1              1    ...
1305                  0           0           1              1    ...
1306                  1           0           0              1    ...
1307                  0           0           1              1    ...
1308                  0           0           1              1    ...
1309                  1           0           0              1    ...

             Title_Mme  Title_Mr  Title_Mrs  Title_Ms  Title_Rev  Title_Sir  \
PassengerId
1                    0         1          0         0          0          0
2                    0         0          1         0          0          0
3                    0         0          0         0          0          0
4                    0         0          1         0          0          0
5                    0         1          0         0          0          0
6                    0         1          0         0          0          0
7                    0         1          0         0          0          0
8                    0         0          0         0          0          0
9                    0         0          1         0          0          0
10                   0         0          1         0          0          0
11                   0         0          0         0          0          0
12                   0         0          0         0          0          0
13                   0         1          0         0          0          0
14                   0         1          0         0          0          0
15                   0         0          0         0          0          0
16                   0         0          1         0          0          0
17                   0         0          0         0          0          0
18                   0         1          0         0          0          0
19                   0         0          1         0          0          0
20                   0         0          1         0          0          0
21                   0         1          0         0          0          0
22                   0         1          0         0          0          0
23                   0         0          0         0          0          0
24                   0         1          0         0          0          0
25                   0         0          0         0          0          0
26                   0         0          1         0          0          0
27                   0         1          0         0          0          0
28                   0         1          0         0          0          0
29                   0         0          0         0          0          0
30                   0         1          0         0          0          0
...                ...       ...        ...       ...        ...        ...
1280                 0         1          0         0          0          0
1281                 0         0          0         0          0          0
1282                 0         1          0         0          0          0
1283                 0         0          1         0          0          0
1284                 0         0          0         0          0          0
1285                 0         1          0         0          0          0
1286                 0         1          0         0          0          0
1287                 0         0          1         0          0          0
1288                 0         1          0         0          0          0
1289                 0         0          1         0          0          0
1290                 0         1          0         0          0          0
1291                 0         1          0         0          0          0
1292                 0         0          0         0          0          0
1293                 0         1          0         0          0          0
1294                 0         0          0         0          0          0
1295                 0         1          0         0          0          0
1296                 0         1          0         0          0          0
1297                 0         1          0         0          0          0
1298                 0         1          0         0          0          0
1299                 0         1          0         0          0          0
1300                 0         0          0         0          0          0
1301                 0         0          0         0          0          0
1302                 0         0          0         0          0          0
1303                 0         0          1         0          0          0
1304                 0         0          0         0          0          0
1305                 0         1          0         0          0          0
1306                 0         0          0         0          0          0
1307                 0         1          0         0          0          0
1308                 0         1          0         0          0          0
1309                 0         0          0         0          0          0

             Title_the Countess  Pclass_1  Pclass_2  Pclass_3
PassengerId
1                             0         0         0         1
2                             0         1         0         0
3                             0         0         0         1
4                             0         1         0         0
5                             0         0         0         1
6                             0         0         0         1
7                             0         1         0         0
8                             0         0         0         1
9                             0         0         0         1
10                            0         0         1         0
11                            0         0         0         1
12                            0         1         0         0
13                            0         0         0         1
14                            0         0         0         1
15                            0         0         0         1
16                            0         0         1         0
17                            0         0         0         1
18                            0         0         1         0
19                            0         0         0         1
20                            0         0         0         1
21                            0         0         1         0
22                            0         0         1         0
23                            0         0         0         1
24                            0         1         0         0
25                            0         0         0         1
26                            0         0         0         1
27                            0         0         0         1
28                            0         1         0         0
29                            0         0         0         1
30                            0         0         0         1
...                         ...       ...       ...       ...
1280                          0         0         0         1
1281                          0         0         0         1
1282                          0         1         0         0
1283                          0         1         0         0
1284                          0         0         0         1
1285                          0         0         1         0
1286                          0         0         0         1
1287                          0         1         0         0
1288                          0         0         0         1
1289                          0         1         0         0
1290                          0         0         0         1
1291                          0         0         0         1
1292                          0         1         0         0
1293                          0         0         1         0
1294                          0         1         0         0
1295                          0         1         0         0
1296                          0         1         0         0
1297                          0         0         1         0
1298                          0         0         1         0
1299                          0         1         0         0
1300                          0         0         0         1
1301                          0         0         0         1
1302                          0         0         0         1
1303                          0         1         0         0
1304                          0         0         0         1
1305                          0         0         0         1
1306                          0         1         0         0
1307                          0         0         0         1
1308                          0         0         0         1
1309                          0         0         0         1

[1309 rows x 33 columns]

## 10 cross fold validation

In [ ]:
model = KerasClassifier(build_fn=build_model, nb_epoch=500, batch_size=30, verbose=False)
cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=1000)
results = cross_val_score(model, titanic [:len(train)], train['Survived'], cv=cv, n_jobs=-1)

## Build and Predict Model

In [ ]:
model = build_model()
model.fit(titanic [:len(train)], train['Survived'], epochs=500, batch_size=10, verbose=False)

In [ ]:
p_survived = model.predict_classes(titanic [:len(test)], verbose=2)

## Build CSV for Submission

In [8]:
submission = pd.DataFrame()
submission['PassengerId'] = test_data.index
submission['Survived'] = p_survived

submission.to_csv('my_titanic_neuralnetwork.csv', index=False)